#beruby_popup {
	color: red;
	position: fixed;
	width: 350px;
	top:20px;
	right:20px;
	font-size:20px;
	line-height:1.5;
	border:5px solid white;
	box-shadow:0px 0px 10px #ccc;
	-webkit-box-shadow:0px 0px 10px #ccc;
	-moz-box-shadow:0px 0px 10px #ccc;
	z-index:1000001;
}

#beruby_popup .more-info {
	text-align: center;
	margin-top: 20px;
}

#beruby_popup .more-info a {
	text-decoration: none;
	font-size: 20px;
	color: rgb(254, 186, 2);
}

#beruby_popup .no-cookies .texts a {
	text-decoration: underline;
}

#beruby_popup .beruby-close {
	position: absolute;
	right: 7px;
	top: -3px;
	color: black;
	text-decoration: none;
}

#beruby_popup .logo {

}

#beruby_popup .text {
	text-align: center;
	color: white;
	font-size: 1em;
	padding: 70px 0px;
}

#beruby_popup .signin {
	display: inline-block;
	font-size: 0.75em;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	background: rgb(250, 167, 50);
}

#beruby_popup .signup {
	display: inline-block;
	font-size: 0.75em;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 20px;
	background: rgb(0, 99, 190);
}

#beruby_popup .texts {
	text-align: center;
	color: #11839f;
	font-size: 1em;
	padding: 10px 0px;
}

#beruby_popup .btn-cashback {
	display: inline-block;
	font-size: 0.75em;
	color: white;
	background-color: #40a4bc;
    background: -webkit-linear-gradient(#40a4bc, #138ead);
    background: linear-gradient(#40a4bc, #138ead);
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
}

#beruby_popup .message-top {
	background: white;
	padding: .5em 1em;
}

#beruby_popup .message-body {
	background: #f8f8f8;
	padding: 1em 1em;
}