<div>
	<a href="#" class="beruby-close">×</a>
	<div>
		<img width=100 style="border: none;" src="http://rsc1.brubi.com/images/logo_extension.png">
	</div>
	<div class="texts">
		{{{no_cookies}}}
	</div>
</div>