<div>
 	<div>
	 	<a href="#" class="beruby-close">×</a>
 	<div>
 		<img width=100 style="border: none;" src="http://rsc1.brubi.com/images/logo_extension.png">
	</div>
 	<div class="texts">
 		{{phrase}}
 	</div>
 	<div class="texts">
 		{{notLoggedInMsg}}
 	</div>
 	<div style="text-align:center;">
 		<a target="_blank" class="signin" href="{{baseUrl}}/login_required">
 			Entra en beruby
 		</a>
 		<a target="_blank" class="signup" href="{{baseUrl}}/welcome">
 			Regístrate
 		</a>
	</div>
</div>
