<div>
	<a href="#" class="beruby-close">×</a>
	<div>
  		<img width=100 style="border: none;" src="http://rsc1.brubi.com/images/logo_extension.png">
	</div>
  	<div class="texts">
  		{{phrase}}
  	</div>

	<div style="text-align:center;">
  		<a href="#" class="btn-cashback">
			{{getCashback}}
		</a>
 	</div>

 	<div class="more-info">
  		<a href="{{cashback_url}}">{{moreInfo}}</a>
  	</div>
 	
 	<div class="spinner" style="display:none;">
 		<img src="//es.beruby.com/images/content/indicator.gif">
	</div>
</div>
