<div class="no-cookies">
	<a href="#" class="beruby-close">×</a>
	<div class="message-top">
		<img width=100 style="border: none;" src="https://ocu.beruby.com/images/ocu_header_logo.jpg">
	</div>
	<div class="message-body">
		<div class="texts">
			{{{no_cookies}}}
		</div>
	</div>
</div>