<div>
	 <a href="#" class="beruby-close">×</a>

 	<div class="message-top">
 		<img width=100 style="border: none;" src="http://rsc1.brubi.com/images/logo_extension.png">
	</div>

	<div class="message-body">
	 	<div class="texts">
	 		{{phrase}}
	 	</div>
	 	<div class="texts">
	 		{{notLoggedInMsg}}
	 	</div>
	 	<div style="text-align:center;">
	 		<a target="_blank" class="btn-cashback" href="{{baseUrl}}/login_required">
	 			{{goToBeruby}}
	 		</a>
		</div>
	</div>
</div>
