<div>
	<a href="#" class="beruby-close">×</a>
	<div class="message-top">
  		<img width=100 style="border: none;" src="https://ocu.beruby.com/images/ocu_header_logo.jpg">
	</div>
	<div class="message-body">
	  	<div class="texts">
	  		{{phrase}}
	  	</div>

		<div style="text-align:center;">
	  		<a href="#" class="btn-cashback">
				{{getCashback}}
			</a>
	 	</div>
	 	
	 	<div class="spinner" style="display:none;">
	 		<img src="//es.beruby.com/images/content/indicator.gif">
		</div>
	</div>
</div>
